[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mridulgupta9
[access "refs/for/refs/*"]
	read = group user/mridulgupta9
	push = group user/mridulgupta9
	label-Code-Review = -2..+2 group user/mridulgupta9
	label-Verified = -1..+1 group user/mridulgupta9
	rebase = group user/mridulgupta9
	removeReviewer = group user/mridulgupta9
	submit = group user/mridulgupta9
[access "refs/heads/*"]
	read = group user/mridulgupta9
	create = group user/mridulgupta9
	push = +force group user/mridulgupta9
	pushMerge = group user/mridulgupta9
[access "refs/tags/*"]
	push = +force group user/mridulgupta9
	pushTag = group user/mridulgupta9
	pushSignedTag = group user/mridulgupta9
